.Main {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ButtonContainer {
  grid-column: 1/-1;
  justify-self: end;
}

.Content {
  grid-column: 1/-1;
}

.Buttons {
  margin-top: 10px !important;
}
