.Form {
  padding: 10px;
}
.DeleteEdit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.TableLinksWrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-gap: 20px;
}

.QuickLinksWrapper {
  display: grid;
  padding: 20px;
  justify-self: center;
}

.Inputs {
  grid-column: 1/-1;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 800px) {
  .TableLinksWrapper {
    grid-template-columns: 1fr;
  }
}

.AddChurch {
  background: linear-gradient(white, #a3c0ff) !important;
  text-decoration: none !important;
  justify-self: center;
  height: 30px;
}

.AddChurch:hover {
  cursor: pointer;
}

.Confirm {
  /* color: #5cb85c; */
  color: blue;
}
.Confirm:hover {
  cursor: pointer;
}

.Delete {
  color: red;
}

.Delete:hover {
  cursor: pointer;
}
