.H3 {
  text-align: center;
}

.Listitem li {
  width: 90%;
  border-bottom: 1px solid #b9bac2;
  border-left: 1px solid #b9bac2;
  border-radius: 10px;
  margin-top: 20px;
  min-height: 50px;
  vertical-align: middle;
  color: black;
}

.NotAttendingWrapper {
  background-color: #fac8c8;
}

.AttendingWrapper {
  background-color: lightgreen;
}

.Carrot {
  float: right;
  font-size: 0.75em;
  color: black;
}
