.AboutWrapper{
    margin: auto;
    margin-bottom: 50px;
    width: 90%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;

}

.Quote{
    width: 80%;
    margin: auto;
    text-align: center;
}